body {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.jumbotron {
  background-color: rgba(250, 252, 250, 0.9);
  text-align: center;
  color: lightsalmon;
  font-weight: bold;
}

/* Cities column */
.cities {
  float: left;
  background-color: rgb(102, 163, 102);
  margin-bottom: 20px;
  border-radius: 5px;
  padding: 10px;
  height: 100%;
}

/* City history section */
.city-history {
  margin-bottom: 20px;
}

/* City buttons */
.list-group-item {
  background-color: rgb(102, 163, 102);
}

/* Current city data */
.city-info {
  border: solid 2px black;
  border-radius: 5px;
 }


.card-img-top {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Current data */
.data {
  background: rgb(102,163,102 0.7);
  padding: 20px;
}

.hide {
   visibility: hidden;
}

.showForecast {
  visibility: visible;
  } 

.card {
  background: rgba(250, 252, 250, 0.7);
}

.forecast {
  text-align: center;
  padding: 10px;
}

/* Class - name and date */
.inline {
  float: left;
  padding-left: 20px;
}

/* Search button */
.submit {
  background-color: white;
  color: rgb(112, 157, 216);
}

/* Elements in data class */
.d {
  font-size: larger;
  color: rgb(102, 163, 102);
}

.uv-index {
  color: black;
}
